/* You can add global styles to this file, and also import other style files */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  
app-card {
        height: 100%;
        display: flex;
        width: 100%;
}
.card-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
    min-height: 260px;
    max-height: 260px;
}
.card {
    width: 100%;
    max-height: 430px;
    margin-bottom: 2rem;
   // min-height: 430px;
}
.card-text {
  display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 70px;
}

.star-active {
  color: rgb(231, 158, 1);
  font-variation-settings:
  'FILL' 1,
  
}

.star-rating-active {
  z-index: 1;
  position: absolute;
}
.star-rating {
  position: relative;
  height: 30px;
}
.star-rating-empty {
  position: absolute;
    top: 0;
    z-index: 0;
}

.total-rating {
  margin-left: 8rem;
}